.courses {
  max-width: 100%;

  .mySwiper {
    width: 100%;
    height: 100%;
  }

  .mySlide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      position: relative;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      span {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        color: transparent;
        padding: 0.5rem;
        transition: var(--transition);
      }

      &:hover {
        span {
          background-color: rgba(0, 0, 0, 0.6);
          color: white;
        }
      }
    }
  }

  // ========== Media Queries ==========
  @media screen and (max-width: 768px) {
    .mySlide {
      a {
        &:hover {
          span {
            background-color: transparent;
            color: transparent;
          }
        }
      }
    }
  }
}
